# Duplicate and rename this file to .env to configure local development with remote services

# Foundational configuration
FOUNDATIONAL_HOST:             example.com
FOUNDATIONAL_LOCALE:           en
FOUNDATIONAL_FROM_EMAIL:       from@example.com
FOUNDATIONAL_PASSWORD_MINIMUM: 12

# For Active Storage uploads
AWS_ACCESS_KEY_ID:     TODO
AWS_SECRET_ACCESS_KEY: TODO
AWS_BUCKET:            TODO
AWS_REGION:            TODO

# For mirroring Active Storage uploads
AZURE_STORAGE_ACCOUNT_NAME: TODO
AZURE_STORAGE_ACCESS_KEY:   TODO
AZURE_CONTAINER:            TODO

# For mirroring Active Storage uploads
GCP_PROJECT_ID:           TODO
GCP_PRIVATE_KEY_ID:       TODO
GCP_PRIVATE_KEY:          TODO
GCP_CLIENT_EMAIL:         TODO
GCP_CLIENT_ID:            TODO
GCP_CLIENT_X509_CERT_URL: TODO
GCP_PROJECT:              TODO
GCP_BUCKET:               TODO

# For emails
SENDGRID_PASSWORD: TODO
SENDGRID_USERNAME: TODO
SMTP_PASSWORD:     TODO
SMTP_USERNAME:     TODO
