<% autofocus   ||= false %>
<% placeholder ||= nil %>

<div class='mb-3'>
  <%= form.label       name, class: 'form-label' %>
  <%= form.email_field name,
                       autofocus:    autofocus,
                       autocomplete: 'email',
                       placeholder:  placeholder,
                       class:        'form-control form-control-lg' %>
</div>
