<% label        ||= nil %>
<% note         ||= nil %>
<% autocomplete ||= nil %>

<div class="mb-3">
  <%= form.label          name, label, class: 'form-label' %>

  <%= form.password_field name,
                          autocomplete: (autocomplete || "new-password"),
                          class:        "form-control form-control-lg" %>

  <% if note.present? %>
    <p class="form-text text-muted">
      <%= note.html_safe %>
    </p>
  <% end %>
</div>
