<% autofocus   ||= false %>
<% placeholder ||= nil %>

<div class="form-group">
  <%= form.label      name %>
  <%= form.text_field name, autofocus: autofocus, placeholder: placeholder, class: "form-control form-control-lg" %>
</div>
