<% label        ||= nil %>
<% note         ||= nil %>
<% autocomplete ||= nil %>

<div class="form-group">
  <%= form.label          name, label %>

  <%= form.password_field name,
                          autocomplete: (autocomplete || "new-password"),
                          class: "form-control form-control-lg" %>

  <% if note.present? %>
    <p class="form-text text-muted"><%= note.html_safe %></p>
  <% end %>
</div>
