<nav>
  <div class='h6 font-weight-bold list-group mb-3'>
    <%= link_to 'All Settings', [:settings], class: 'list-group-item list-group-item-action' %>
  </div>

  <% grouped_settings.each do |group, settings| %>
    <div class='list-group mb-3'>
      <p class='font-weight-bold list-group-item m-0'><%= group %></p>

      <% settings.each do |setting| %>
        <%= link_to [:edit, setting], class: 'list-group-item list-group-item-action' do %>
          <%= setting.name %>

          <% if setting.requires_update? %>
            <br>
            <span class="badge badge-danger badge-pill">Update Required</span>
          <% end %>
        <% end %>
      <% end %>

    </div>
  <% end %>
</nav>
