<% if setting.image.attached? %>
  <p class='mt-4 mb-0 text-muted font-italic'>Currently…</p>
  <%= image_tag url_for(setting.image), class: 'mb-5 border shadow', style: 'max-width: 500px' %>
<% end %>
