<div class="form-check">
  <%= form.radio_button :content, true,  class: 'form-check-input' %>
  <%= form.label        :content_true, 'Yes', class: 'form-check-label' %>
</div>

<div class="form-check">
  <%= form.radio_button :content, false, class: 'form-check-input' %>
  <%= form.label        :content_false, 'No',  class: 'form-check-label'  %>
</div>
