<div class='container'>
  <%= tag.div class: wrapper_row_classes do %>
    <%= tag.div class: wrapper_columns_classes do %>

      <% if notice.present? %>
        <div class='alert alert-info mb-5'>
          <div class='alert-text'>
            <%= notice %>
          </div>
        </div>
      <% end %>

      <% if alert.present? %>
        <div class='alert alert-danger mb-5'>
          <div class='alert-text'>
            <%= alert %>
          </div>
        </div>
      <% end %>

    <% end %>
  <% end %>
</div><!-- .container -->
